h1 {
margin: 0;
}

.outline {
  border-bottom: 1px solid #2a363b;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.title {
  color:#198754;
  z-index: 2;
}

.navlink {
  text-decoration: none;
}


